<article class="col-12 ">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ title }}</h5>
            <p class="card-text"><a href={{ url }}>Mas Info</a></p>

        </div>
    </div>
</article>