<h1>Servicios</h1>
<div>
    {{#if services}}
    <ul>
        {{#each services}}
        <li>
            {{> card title=this.name url=this.url}}
        </li>
        {{/each}}
    </ul>
    {{else}}
    <p>No hay servicios</p>
    {{/if}}
</div>